.DS_Store
/target
/internal

### Benchamrking ###
# input files
knucleotide-input25000000.txt
regexredux-input5000000.txt
revcomp-input25000000.txt

#CSharp & FSharp
obj/
bin/
Program.fs
Program.cs

#Ada
*.ads
*.adb
*.ali
*.o
*.gnat_run

#Haskell
*.ghc_run
*.hi
*.hs

#OCaml
*.cmi
*.cmx
*.ocaml_run
*.ml

# js / ts
node_modules/

# Pascal
*.fpascal_run
*.ppu

# Java
*.class

# Racket
compiled/

# Rust
target/

# C++
*.gpp_run
*.out

# Erlang
*.beam
*.erl

# Go
*.go_run
